.git
.github
node_modules
app/node_modules
app/dist
dist
coverage
playwright-report
test-results
npm-debug.log
.DS_Store
**/dist
**/.vite
**/playwright-report
**/test-results
**/.cache
.gitignore
README.md
*.log
.env
.env*
.vite